# M01 Homework

```yaml
Name:   Ji Hyun Kim
Computing ID: mqa4qu
Code Guide: M01_03_first_foray.ipynb
Topic: M01 Homework
```

# 0. Setup to Dataframe

### 0.1 Set up

In [2]:
import pandas as pd
import configparser
config = configparser.ConfigParser()

In [3]:
config.read("../../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

In [4]:
# data_home, output_dir

### 0.2 Import File

In [5]:
!ls -l {data_home}

total 0
drwxr-xr-x  9 jihyunkim  staff  288 Jan 21 20:24 gutenberg

In [6]:
src_file = f"{data_home}/gutenberg/pg42324.txt"

### 0.3 Dataframe of lines & Remove Line Breaks

In [7]:
file = open(src_file, 'r')
lines = []
for line in file:
    if line.strip():
        lines.append(line.strip())
file.close()
lines[:5]

['\ufeffThe Project Gutenberg EBook of Frankenstein, by Mary W. Shelley',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or',
 're-use it under the terms of the Project Gutenberg License included',
 'with this eBook or online at www.gutenberg.org']

# 0. Question (Question 1 on Gradescope)
What is the title of the novel associated with the text file?<br>
Answer: <b>Frankenstein</b>

In [13]:
text = pd.DataFrame(lines, columns=['line_str'])
text.index.name = 'line_num';
text.line_str = text.line_str.str.replace('\n+', ' ', regex=True).str.strip()
text.head(10)

                                                   line_str
line_num
0         ﻿The Project Gutenberg EBook of Frankenstein, ...
1         This eBook is for the use of anyone anywhere a...
2         almost no restrictions whatsoever.  You may co...
3         re-use it under the terms of the Project Guten...
4            with this eBook or online at www.gutenberg.org
5                                       Title: Frankenstein
6                                 or, The Modern Prometheus
7                                   Author: Mary W. Shelley
8               Release Date: March 13, 2013 [EBook #42324]
9                                         Language: English

In [9]:
# text.shape

# 1. Question 1
How many tokens does the raw text have? By raw text, we mean the text as-is, without all of the Gutenberg boilerplate removed.<br>
Answer: <b>80985</b> tokens

### 1.1 Lines to Tokens
`K`: A dataframe of tokens.

In [10]:
K = text.line_str.str.split(expand=True).stack().to_frame('token_str')
K.index.names = ['line_num','token_num']
K

                    token_str
line_num token_num
0        0               ﻿The
         1            Project
         2          Gutenberg
         3              EBook
         4                 of
...                       ...
6971     5                 to
         6               hear
         7              about
         8                new
         9            eBooks.

[80985 rows x 1 columns]

# 2. Question 2
What is the most frequent pronoun in the text? <br>
Answer: <b>I</b> was written <b>2918</b> times, which is the most frequent amongst pronouns.

### 2.1 Cleaning

In [11]:
K['term_str'] = K.token_str.str.replace(r'\W+', '', regex=True).str.lower()
# K.sample(20)

### 2.2 Extract
`V`: Vocabulary

In [12]:
V = K.term_str.value_counts().to_frame('n')
V.index.name = 'term_str'
# V
V.head(5)

             n
term_str
the       4575
and       3120
of        2918
i         2918
to        2257

# 3. Question 3
Which subject pronoun is most frequent in the text we imported in class? <br>
Answer: <b>her</b> was written <b>1202</b> times, which was the most frequent amongst pronouns.

# 4. Question 4
Provide a brief explanation for this difference, based on what you may know about the two novels.<br>
Answer:<br> <b>Frankenstein</b> is written in <b>first person point of view</b>, where the narrator talks a lot about his own emotions. Therefore, it is likely that the pronoun <b>'I'</b> was most frequently used.<br>
On the other hand, <b>Persuasion</b>, is written in <b>third person point of view</b>, which makes it more likely that 'I' will only be used when the characters are talking. In addition, since the <b>protagonist is a female</b>, it is likely that 'her' was the most frequently used pronoun.