# First Foray

```yaml
Author:   R.C. Alvarado
Date:     14 October 2022 (revised)
Course:   DS 5001 Exploratory Text Analytics
Module:   01 Getting Started
Topic:    Lab: First Foray
```

## Purpose

We take a raw text file from Project Gutenberg and convert it into a dataframe of tokens. 

We then explore some properties of the data. 

The main idea is to get acquainted with the primary process of convert text into analytical form.

## Set Up

In [1]:
import pandas as pd

In [2]:
import configparser
config = configparser.ConfigParser()

In [3]:
config.read("../../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

In [4]:
data_home = data_home.replace('/', '\\')
data_home

'C:\\DS5001\\DS5001_2024_01_R\\..\\data'

## Import File

In [5]:
%ls -l {data_home}

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 6457-5755

 C:\DS5001\DS5001-2024-01-R\lessons\M01_Intro 디렉터리


 C:\DS5001\data 디렉터리

2024-02-03  오후 11:11    <DIR>          .
2024-02-03  오후 11:06    <DIR>          ..
2024-02-03  오후 11:11    <DIR>          gutenberg
               0개 파일                   0 바이트
               3개 디렉터리   3,839,819,776 바이트 남음

파일을 찾을 수 없습니다.

In [6]:
src_file = f"{data_home}\\gutenberg\\pg42324.txt"

In [7]:
lines = open(src_file, 'r',encoding='utf-8-sig').read()

In [8]:
lines = lines.split('\n')
for s in lines:
    if s=='':
        lines.remove('')
lines[:5], lines[-5:]

(['The Project Gutenberg EBook of Frankenstein, by Mary W. Shelley',
  'This eBook is for the use of anyone anywhere at no cost and with',
  'almost no restrictions whatsoever.  You may copy it, give it away or',
  're-use it under the terms of the Project Gutenberg License included',
  'with this eBook or online at www.gutenberg.org'],
 ['This Web site includes information about Project Gutenberg-tm,',
  'including how to make donations to the Project Gutenberg Literary',
  'Archive Foundation, how to help produce our new eBooks, and how to',
  'subscribe to our email newsletter to hear about new eBooks.',
  ''])

## Convert to Dataframe

In [12]:
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'

## Convert Lines to Tokens

`K`: A dataframe of tokens.

Note the `expand` argument to the `.split()` method.

In [9]:
text = pd.DataFrame(lines, columns=['chunk_str'])
text.index.name = 'chunk_id'

In [10]:
K = text.chunk_str.str.split(expand=True).stack().to_frame('token_str')
K.index.names = ['chunk_num','token_num']

In [11]:
K

                     token_str
chunk_num token_num
0         0                The
          1            Project
          2          Gutenberg
          3              EBook
          4                 of
...                        ...
7085      5                 to
          6               hear
          7              about
          8                new
          9            eBooks.

[80985 rows x 1 columns]

Broken down into steps

## Do Some Cleaning

In [16]:
K['term_str'] = K.token_str.str.replace(r'\W+', '', regex=True).str.lower()

In [17]:
K.sample(10)

                      token_str    term_str
chunk_num token_num
1840      1                 two         two
6275      11              grief       grief
4494      7              remind      remind
4214      0          sanguinary  sanguinary
6472      8                gave        gave
5175      4               that,        that
3882      10             manner      manner
1319      0                  He          he
2321      10               been        been
3670      1                been        been

## Extract a Vocabulary

`V`: A table of terms. As opposed to tokens, which are term _instances_.

**Terms** are symbol **types**.

**Tokens** are symbol **instances**.

In [18]:
V = K.term_str.value_counts().to_frame('n')
V.index.name = 'term_str'

In [19]:
V.head(10)

             n
term_str
the       4575
and       3120
of        2918
i         2918
to        2257
my        1819
a         1497
in        1232
was       1064
that      1060