# M01 Homework

```yaml
Author:   JiHo Lee (qxz6hb)
Course:   DS 5001 Exploratory Text Analytics
```

### Question 1. How many tokens does the raw text have? By raw text, we mean the text as-is, without all of the Gutenberg boilerplate removed.

> 80985 tokens

### Question 2. What is the most frequent pronoun in the text?

> ```I``` is the most frequent pronoun in the text with 2918 times

### Question 3. Which subject pronoun is most frequent in the text we imported in class? 

> `she` is the most frequent <b>subject pronoun</b> in the text with 1143 times.

`her` is written 1202 times which is the most fruquent <b>pronoun</b>

### Question 4. Provide a brief explanation for this difference, based on what you may know about the two novels.

> _Frankenstein_ by Mary Shelley is written from a first-person perspective, whereas _Persuasion_ by Jane Austen is primarily written in the third-person point of view. _Frankenstein_ features narratives in first-person perspective. _Persuasion_ often describes Anne's feelings from a third-person perspective. Thus, `I` is a frequently used pronoun in _Frankenstein_, and `she` is the most frequently used subject pronoun in _Persuasion_.

#### ```The code related to questions and answers with explanation is described in each corresponding section below.```

### Set Up

In [1]:
import pandas as pd

import configparser
config = configparser.ConfigParser()

config.read("../../../env.ini")
data_home = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

data_home = data_home.replace('/', '\\')
data_home

'C:\\DS5001\\DS5001_2024_01_R\\..\\data'

### Import File

In [2]:
src_file = f"{data_home}\\gutenberg\\pg42324.txt"
lines = open(src_file, 'r',encoding='utf-8-sig').read()

lines = lines.split('\n')
for s in lines:
    if s=='':
        lines.remove('')
lines[:5], lines[-5:]

(['The Project Gutenberg EBook of Frankenstein, by Mary W. Shelley',
  'This eBook is for the use of anyone anywhere at no cost and with',
  'almost no restrictions whatsoever.  You may copy it, give it away or',
  're-use it under the terms of the Project Gutenberg License included',
  'with this eBook or online at www.gutenberg.org'],
 ['This Web site includes information about Project Gutenberg-tm,',
  'including how to make donations to the Project Gutenberg Literary',
  'Archive Foundation, how to help produce our new eBooks, and how to',
  'subscribe to our email newsletter to hear about new eBooks.',
  ''])

### Convert to Dataframe

In [3]:
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'

### Convert Lines to Tokens

`K`: A dataframe of tokens.

Note the `expand` argument to the `.split()` method.

### <mark>Quseion 1.</mark>

80985 tokens

In [4]:
text = pd.DataFrame(lines, columns=['chunk_str'])
text.index.name = 'chunk_id'

K = text.chunk_str.str.split(expand=True).stack().to_frame('token_str')
K.index.names = ['chunk_num','token_num']

len(K)

80985

### Extract a Vocabulary

### <mark>Question 2.</mark>

`I` is the most frequent pronoun in the text with 2918 times

In [5]:
K['term_str'] = K.token_str.str.replace(r'\W+', '', regex=True).str.lower()

V = K.term_str.value_counts().to_frame('n')
V.index.name = 'term_str'

V.head(10)

             n
term_str
the       4575
and       3120
of        2918
i         2918
to        2257
my        1819
a         1497
in        1232
was       1064
that      1060

### <mark>Question 3.</mark>

`she` is the most frequent subject pronouns with 1143 times.

In [6]:
src_file = f"{data_home}\\gutenberg\\pg105.txt"
lines = open(src_file, 'r',encoding='utf-8-sig').read()

lines = lines.split('\n')
for s in lines:
    if s=='':
        lines.remove('')
# lines[:5], lines[-5:]
text = pd.DataFrame(lines)
text.columns = ['line_str']
text.index.name = 'line_num'
text = pd.DataFrame(lines, columns=['chunk_str'])
text.index.name = 'chunk_id'

K = text.chunk_str.str.split(expand=True).stack().to_frame('token_str')
K.index.names = ['chunk_num','token_num']
K['term_str'] = K.token_str.str.replace(r'\W+', '', regex=True).str.lower()

V = K.term_str.value_counts().to_frame('n')
V.index.name = 'term_str'
V.head(10)

             n
term_str
the       3501
to        2862
and       2851
of        2684
a         1648
in        1439
was       1336
her       1202
had       1187
she       1143

### <mark>Question 4.</mark>

_Frankenstein_ by Mary Shelley is written from a first-person perspective, whereas _Persuasion_ by Jane Austen is primarily written in the third-person point of view. _Frankenstein_ features narratives in first-person perspective. _Persuasion_ often describes Anne's feelings from a third-person perspective. Thus, `I` is a frequently used pronoun in _Frankenstein_, and `she` is the most frequently used subject pronoun in _Persuasion_.