# Using NLTK for NGram Models

```yaml
Course:   DS 5001
Module:   04 Lab
Topic:    NLTK and NGrams
Author:   R.C. Alvarado
Date:     5 February 2022 (revised)
```

**Purpose**:  

Demonstrate the tools provide by NLTK to create ngram model.s

# Set Up

In [1]:
import pandas as pd
import numpy as np

In [2]:
import nltk
from nltk.lm import MLE
from nltk.lm import Vocabulary
from nltk.lm import NgramCounter
from nltk.lm.preprocessing import padded_everygram_pipeline
from collections import Counter

# Configs

In [3]:
import configparser

config = configparser.ConfigParser()
config.read("../../../env.ini")
data_dir = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

# Pipeline

In [4]:
ngram_order = 3 # 3 means trigrams
pads = ["<s>", "</s>"]
widx = [f"w{i}" for i in range(ngram_order)]
ohco = ['sent_num', 'token_num']

In [5]:
train_file = f"{output_dir}/austen-combo-TOKENS.csv"
train_ohco = "book_id  chap_num  para_num  sent_num  token_num".split()
train_df = pd.read_csv(train_file).set_index(train_ohco)

In [6]:
test_file = f"{data_dir}/misc/test_sentences.txt"

In [7]:
train_tokens = train_df.groupby(train_ohco[:4]).term_str.apply(list).values.tolist()

In [8]:
ngram_args = dict(pad_right=True, pad_left=True, left_pad_symbol=pads[0], right_pad_symbol=pads[1])
train_ngrams = [[] for i in range(ngram_order)]
for j in range(ngram_order):
    train_ngrams[j] = [nltk.ngrams(sent, n=j+1, **ngram_args) for sent in train_tokens]

ng_cols = ['sent_num', 'token_num', 'word_pos', 'token']
ng_data = [[] for n in range(ngram_order)]
ng_df = [None for n in range(ngram_order)]
for n in range(ngram_order):
    for i, z in enumerate(train_ngrams[n]):
        for j, x in enumerate(list(z)):
            for k, token in enumerate(list(x)):
                ng_data[n].append((i, j, f"w{k}", token))
    ng_df[n] = pd.DataFrame(ng_data[n], columns=ng_cols).set_index(ng_cols[:-1]).unstack()
    ng_df[n].columns = ng_df[n].columns.droplevel(0)

In [9]:
ng_df[2].loc[5]

word_pos          w0         w1         w2
token_num
0                <s>        <s>       this
1                <s>       this        was
2               this        was        the
3                was        the       page
4                the       page         at
5               page         at      which
6                 at      which        the
7              which        the  favourite
8                the  favourite     volume
9          favourite     volume     always
10            volume     always     opened
11            always     opened       </s>
12            opened       </s>       </s>

In [10]:
ng_counts = []
k = .01
for n in range(ngram_order):
    ng_counts.append(ng_df[n].value_counts().to_frame('n'))
    if n == 0:
        V = len(ng_counts[0])
    ng_counts[n]['mle'] = ng_counts[n].n / ng_counts[n].n.sum()
    ng_counts[n]['p'] = (ng_counts[n].n + k) / (ng_counts[n].n.sum() + K)
    if n > 0:
        ng_counts[n]['cp'] = (ng_counts[n].n + k) / (ng_counts[n-1].n + V * k)
        ng_counts[n]['ci'] = -np.log2(ng_counts[n].cp)
    ng_counts[n] = ng_counts[n].sort_index()

NameError: name 'K' is not defined

In [ ]:
i_max = np.log2(V) # For unfound combos when the model is applied

In [ ]:
ng_counts[2]